.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__list-item {
    margin-right: 2.4rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__list-item-link {
    @include interactive;
    color: #fff;
    font-size: 1.8rem;
  }
}
