/* stylelint-disable selector-class-pattern */
.input {
  position: relative;
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #FFC921;
    border-bottom: 0.1rem solid #000;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #FFC921 inset;
    transition: background-color 500000s ease-in-out 0s;
  }

  &.is-error {
    .input__element {
      border-bottom: 0.1rem solid #DB3131;
    }

    .error__text {
      display: block;
      color: #DB3131;
      font: var(--font-text-t6);
    }
  }

  .error {
    position: absolute;
    top: calc(100% + 0.5rem);
  }

  &--checkbox {
    display: flex !important;
    align-items: center;
    gap: 10px;
  }

  &__placeholder {
    position: absolute;
    top: -5px;
    right: 0;
    left: 0;
    font: var(--font-common-label-3);
    transform: translateY(0);
    transition: var(--transition);
    pointer-events: none;
    color: gray;
  }

  &__element {
    height: 50px;
    min-height: 5rem;
    padding: 1.6rem 0 1.2rem;
    color: var(--color-grayscale-300);
    font: var(--font-common-placeholder);
    border-bottom: 0.1rem solid var(--color-dark);
    resize: none;

    @include placeholder() {
      color: transparent;
      font-size: 0;
      opacity: 0;
    }

    &:placeholder-shown~.input__placeholder {
      font: var(--font-common-label-1);
      transform: translateY(2.2rem);
      top: 0px;
      color: #000;

      @include mq(sm) {
        font: var(--font-common-label-2);
      }
    }

    &:focus {
      &~.input__placeholder {
        font: var(--font-common-label-3);
        transform: translateY(0);
      }
    }
  }

  &__textarea {
    box-sizing: border-box;
    height: 4rem;
    min-height: 4rem;
    margin-top: 0.7rem;
    padding-top: 0;
    overflow-y: auto;
    line-height: 1.3;
    resize: vertical;

    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #3d3d3d;
      border-radius: 1rem;
    }

    &~.input__placeholder {
      width: 100%;
      padding-bottom: 0.6rem;
      background-color: var(--color-grayscale-900);
    }
  }

  &.textarea {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }


  &__checkbox {
    width: 24px;
    height: 24px;
  }

  &__label {
    a {
      text-decoration: underline;
    }
  }
}
