extends layout/default.pug

block variables
	- const bodyClass = "page-home"
	- const pageTitle = "СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ ПРИ ОТПРАВКЕ ЗАЯВКИ"
	- const siteLang = "ru"

block content
	include pages/policy-applications/main.pug
