extends layout/default.pug

block variables
	- const bodyClass = "page-home"
	- const pageTitle = "СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ В ВИДЕ COOKIE-ФАЙЛОВ"
	- const siteLang = "ru"

block content
	include pages/policy-cookie/main.pug
