extends layout/default.pug

block variables
	- const bodyClass = "page-home"
	- const pageTitle = "ПОЛИТИКА ОБРАБОТКИ И ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ"
	- const siteLang = "ru"

block content
	include pages/privacy-policy/main.pug
