section.about-us
  .site-container
    h2.about-us__title О нас
    .about-us__inner
      .about-us__info
        ul.about-us__list
          li.about-us__list-item Отремонтировали более 80 кровель
          li.about-us__list-item Объем выполненных работ превысил 7400 м2
          li.about-us__list-item Более 40 объектов
          li.about-us__list-item Крупные административные и коммерческие объекты
          li.about-us__list-item Известные Заказчики
      .about-us__img-wrapper
        img.about-us__img(src='assets/images/about-us/img.jpg' alt='')