section.consultation
  .site-container
    .consultation__wrapper
      h2.consultation__title
        | Получить бесплатную <br> консультацию
      button.consultation__button.button(type="button" data-path="modal")
        | оставить заявку