section.intro
  .intro__wrapper
    img.intro__img(src="assets/images/intro/image-bg.jpeg" alt="Крыша")
    .site-container
      .intro__inner
        h1.intro__title
          | Качественные кровельные и высотные работы
        button.intro__button.button(type="button" data-path="modal")
          | оставить заявку
        .intro__address
          | Республика Татарстан, г. Казань

