.cookie-modal
  .cookie-modal-content
    p
      | Мы используем cookie для анализа активности пользователей на сайте.
      | Продолжая пользоваться сайтом, Вы даёте&nbsp;
      a(target="_blank" href="/policy-cookie.html")
        | согласие на обработку персональных данных, получаемых посредством cookie-файлов
      | , и соглашаетесь с&nbsp;
      a(target="_blank" href="/privacy-policy.html")
        | Политикой обработки персональных данных.
      |  &nbsp;Вы можете отключить cookie в настройках вашего браузера.
    button.cookie-modal-btn.button Согласен
