footer.footer(id="footer")
	.site-container
		.footer__wrapper
			.footer__logo
				a.footer__logo-link(href="#")
					+imgLazy("assets/images/logo.png")(width="303px" height="224px" class="footer__logo-img")
			.footer__address
				|	г.Казань, Сибирский тракт, д. 78, пом. 23, офис 219
			.footer__telephones
				a.footer__telephone(href="tel:+79534980100")
					| +7 (953) 498-01-00
				a.footer__mail(href="mailto:tatkrov843@gmail.com")
					| tatkrov843@gmail.com
			.footer__ip
				| Индивидуальный предприниматель Гарипов Д.Х. (ОГРНИП: 324169000156474)
			.footer__line
			.footer__policy-links
				a.footer__policy-link(href="/privacy-policy.html") Политика конфиденциальности
				a.footer__policy-link(href="/policy-cookie.html") Куки
			+socials(class="socials--dark")
