footer.footer(id="footer")
	.site-container
		.footer__wrapper
			.footer__logo
				a.footer__logo-link(href="#")
					+imgLazy("assets/images/logo.png")(width="303px" height="224px" class="footer__logo-img")
			.footer__address
				|	Республика Татарстан, г.Казань
			.footer__telephones
				a.footer__telephone(href="tel:+79534980100")
					| +7 (953) 498-01-00
			+socials(class="socials--dark")