.cookie-modal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.2);
  border-radius: 16px;
  overflow: hidden;

  @media (max-width: 1024px) {
    width: 70%;
  }

  @media (max-width: 760px) {
    width: auto;
    left: 20px;
  }

  a {
    color: #1F59B0;
    text-decoration-line: underline;
  }
}

.cookie-modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 32px;
  font-size: 18px;

  @media (max-width: 1024px) {
   padding: 16px;
   font-size: 14px;
  }
}
.cookie-modal-btn {
  border-radius: 40px;
  margin-top: 12px;
  margin-left: auto;
  padding: 14px 25px;
  cursor: pointer;
  font-size: 15px;

  @media (max-width: 760px) {
    width: 100%;
  }
}
