.footer {
  display: block;
  margin-top: 4rem;
  padding: 16rem 2rem 20rem;

  @include mq(lg) {
    margin-top: 0;
    padding: 13rem 2rem 17rem;
  }

  @include mq(sm) {
    padding: 8rem 2rem 14rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    width: 23.8rem;
    height: 5rem;
    margin-bottom: 5.2rem;
    object-fit: cover;

    @include mq(lg) {
      width: 25rem;
      height: 5rem;
    }

    @include mq(sm) {
      width: 20rem;
      height: 5rem;
      margin-bottom: 3.2rem;
    }
  }

  &__logo-link {
    display: block;
  }

  &__address {
    margin-bottom: 2.4rem;
    color: #1d1d1d;
    font-size: 1.6rem;
    line-height: 1.2;

    @include mq(sm) {
      margin-bottom: 1.9rem;
    }
  }

  &__telephones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 2.4rem;
  }

  &__telephone {
    @include interactive;
    color: #1d1d1d;
    font-size: 1.6rem;
    line-height: 120%;

    @include mq(sm) {
      display: block;
      margin-bottom: 1.6rem;
    }

    &:not(:first-child) {
      position: relative;
      margin-left: 4rem;

      @include mq(sm) {
        margin-left: 0;
      }
    }
  }

  &__mail {

  }

  &__ip {
    margin-bottom: 4.6rem;
  }

  &__line {
    width: 210px;
    height: 1px;
    background-color: #0000003c;
    margin-bottom: 30px;
  }

  &__policy-links {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 4.4rem;
  }

  &__policy-link {
    &:hover {
      text-decoration: underline;
    }
  }

}
