section.section.clear
  .site-container
    h2.clear__title Чистим от снега объекты Казани любой сложности
    .clear__inner
      .clear__item
        .clear__item-img
          img.clear__item-img-elem(src='assets/images/clear/img-1.jpg' alt='')
        .clear__item-text Частные дома и коттеджи
      .clear__item
        .clear__item-img
          img.clear__item-img-elem(src='assets/images/clear/img-2.jpg' alt='')
        .clear__item-text Торговые и бизнес центры
      .clear__item
        .clear__item-img
          img.clear__item-img-elem(src='assets/images/clear/img-3.jpg' alt='')
        .clear__item-text Жилые комплексы
      .clear__item
        .clear__item-img
          img.clear__item-img-elem(src='assets/images/clear/img-4.jpg' alt='')
        .clear__item-text Складские комплексы

