section.section.snow
  //- img.snow__img(src='assets/images/snow/img-snow-bg.jpeg' alt='Уборка снега с крыши')
  video.snow__img(autoplay, muted, loop)
    source(src="assets/roof.mp4", type="video/mp4")
  .site-container
    .snow__inner
      .snow__left
        .snow__title Чистка снега с крыш: быстро, безопасно, надежно!
        button.button(type="button" data-path="modal")
          | оставить заявку

