section.section.snow
  img.snow__img(src='assets/images/snow/img-snow-bg.jpg' alt='Уборка снега с крыши')
  .site-container
    .snow__inner
      .snow__left
        .snow__title Чистка снега с крыш: быстро, безопасно, надежно!
        button.button(type="button" data-path="modal")
          | оставить заявку

