section.section.stages(style="background-image: url('assets/images/stages/city-kazan.jpg')")
  .site-container
    h2.stages__title Этапы
    .stages__inner
      table.stages__table
        thead.stages__table-thead
          tr.stages__table-row
            th Шаг:
            th Этап:
        tbody.stages__table-tbody
          tr.stages__table-row
            td
              .stages__table-number 1
            td
              .stages__table-info
                .stages__table-info-title
                  | Оценка состояния крыши:
                .stages__table-info-desc
                  | Перед началом работы мы проводим детальную оценку состояния крыши, чтобы определить объем работ и возможные риски.
          tr.stages__table-row
            td
              .stages__table-number 2
            td
              .stages__table-info
                .stages__table-info-title
                  | Использование специализированного оборудования:
                .stages__table-info-desc
                  | Мы используем легкие и безопасные инструменты, такие как снеговые лопаты, скребки и лестницы, чтобы удалить снег, не повреждая кровлю.
          tr.stages__table-row
            td
              .stages__table-number 3
            td
              .stages__table-info
                .stages__table-info-title
                  | Удаление снега:
                .stages__table-info-desc
                  | Снег аккуратно удаляется с крыши, начиная с верхней части и двигаясь вниз, чтобы минимизировать риск повреждения.
          tr.stages__table-row
            td
              .stages__table-number 4
            td
              .stages__table-info
                .stages__table-info-title
                  | Очистка от льда и наледи:
                .stages__table-info-desc
                  | Если на крыше образовалась наледь, мы используем специальные методы для ее безопасного удаления.
          tr.stages__table-row
            td
              .stages__table-number 5
            td
              .stages__table-info
                .stages__table-info-title
                  | Проверка после работы:
                .stages__table-info-desc
                  | После завершения работ мы проводим финальную проверку, чтобы убедиться, что крыша в порядке и нет никаких повреждений.
