.gallery {

  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 6rem;
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__slider {
    position: relative;
    width: 100%;
    height: 68rem;
    border-radius: 1.6rem;

    @include mq(custom, max, 1024) {
        height: 28rem;
    }

    .swiper-nav {
        position: absolute;
        bottom: 2.4rem;
        right: 2.4rem;
        z-index: 2;

        @include mq(custom, max, 640) {
            right: 0;
            left: 0;
            bottom: 1.6rem;
            width: fit-content;
            margin: 0 auto;
        }
    }

    .swiper-pagination-bullet {
        width: 1.6rem;
        height: 1.6rem;
        background-color: #a6abbd;
        opacity: 1;

        @include mq(custom, max, 640) {
            width: 0.9rem;
            height: 0.9rem;
        }

        &.swiper-pagination-bullet-active {
            background-color: #FFC921;
        }
    }
  }

  &__slider-item {
      width: 100%;
      height: 100%;
  }

  &__slider-item-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}
