include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
  head
    include ../parts/head.pug
    include ../parts/menu.pug
  body(class=bodyClass)
    .page-wrapper
      block header
        include ../parts/header.pug

      block content

      block footer
        include ../parts/footer.pug

    .modal
      include ../parts/modals/modal.pug

  block scripts
    //- script(src="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/Snow.min.js")
    <script>new Snow ();</script>
    script(src="assets/js/main.js?v=" + siteVersion)
    script(src="assets/js/backend.js?v=" + siteVersion)
