main.page-main.main
  section.privacy-policy
    div.site-container
      div.privacy-policy__inner
        div
          .privacy-policy__title.title СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ ПРИ ОТПРАВКЕ ЗАЯВКИ
          br
          br
          | На основании статей 9, 11 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных», свободно, своей волей и в своем интересе даю конкретное, информированное и сознательное согласие Индивидуальному предпринимателю Гарипову Данияру Хамисовичу (ОГРНИП: 324169000156474), юридический адрес: г.Казань, Сибирский тракт, д. 78, пом. 23, офис 219 (далее – Оператор) на автоматизированную обработку своих персональных данных, включая сбор, запись, систематизацию, накопление, хранение, уничтожение персональных данных  в целях идентификации пользователей сайта
          a(href="https://tatkrov.ru/")  https://tatkrov.ru/
          | , предоставление доступа к функционалу сайта, персонализацию предоставляемых сервисов и услуг сайта, осуществления информационного сопровождения и обработка обращений, проведения исследований, направленных на улучшение качества продуктов и сервисов сайта, и/или создание новых продуктов и сервисов сайта, заключения договора гражданско-правового характера между Пользователем и Оператором и/или Оператором и третьим лицом.
          br
          br
          | Настоящее согласие дается мной для обработки следующих персональных данных:
          ul
            li - имя;
            li - абонентский номер (номер телефона);
            li - иная информация, добровольно сообщаемая Пользователем;
          br
          | Субъект персональных данных вправе отозвать данное согласие на обработку своих персональных данных, уведомив об этом Оператора письменно или путём направления электронного документа, подписанного электронной подписью в соответствии с условиями законодательства Российской Федерации.
          br
          br
          | В случае отзыва субъектом персональных данных согласия на обработку своих персональных данных Оператор обязан прекратить их обработку или обеспечить прекращение такой обработки (если обработка персональных данных осуществляется другим лицом, действующим по поручению Оператора) и в случае, если сохранение персональных данных более не требуется для целей обработки персональных данных, уничтожить персональные данные или обеспечить их уничтожение (если обработка персональных данных осуществляется другим лицом, действующим по поручению Оператора) в срок, не превышающий тридцати дней с даты поступления указанного отзыва. В случае отсутствия возможности уничтожения персональных данных в течение указанного срока Оператор осуществляет блокирование таких персональных данных или обеспечивает их блокирование (если обработка персональных данных осуществляется другим лицом, действующим по поручению Оператора) и обеспечивает уничтожение персональных данных в срок не более чем шесть месяцев.
          br
          br
          | Я предупрежден(а) об ответственности за предоставление ложных сведений о себе и предъявление подложных документов.
          br
          br
        a.privacy-policy__button.button(src="https://tatkrov.ru/")
          | Вернуться на главную
